<html>

<head>
    <title>Código da sala menor ou maior que 6</title>
    <script>
        confirm("Código da sala menor ou maior que 6")
        window.location.replace("/")
    </script>
</head>

</html>